@import "tailwindcss";

/* <===== CSS Variables config =====> */

@theme {
  --color-accentlight: oklch(74.322% 0.12143 290.128);
  --color-accentdark: oklch(35.274% 0.15569 281.787);
  --color-primarywhite: #f7f7f7;
  --color-primaryblack: #222222;
}

a,
button {
  cursor: pointer;
}
