@import "tailwindcss";

/* <===== CSS Variables config =====> */

@theme {
  --color-accentlight: oklch(74.322% 0.12143 290.128);
  --color-accentdark: oklch(43.2% 0.232 292.759);
  --color-primarywhite: #f7f7f7;
  --color-primaryblack: #222222;
}

#root {
  min-height: 100vh;
  background: var(--color-primarywhite);
}

a,
button {
  cursor: pointer;
}
